*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: sans-serif;
}
#phone-book-container {
  width: 420px;
  height: 500px;
  padding: 14px;
  margin: 20px auto;
  background: url("images/phonebook3.jfif") center/contain;
}
#innerContainer {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.3)
    ),
    url("images/phonebook3.jfif");
  background-size: contain;
  border-radius: 3px;
}
h1,
h2 {
  color: white;
}
h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 12px;
}
h2 {
  font-size: 15px;
  font-weight: 100;
  margin: 8px 0;
}
h1 i {
  margin-left: 5px;
}
input,
button {
  padding: 7px 10px;
  border: none;
  font-size: 12px;
}
.block {
  width: 100%;
  margin: 7px 0;
  border-radius: 3px;
}
.search {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
#search {
  width: 90%;
}
#searchBtn {
  background-color: white;
  color: #007bff;
  float: right;
  width: 10%;
}
#addBtn {
  background-color: #17a2b8;
  color: white;
}
.table {
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #e2e2e2;
}
.thead {
  border-bottom: 1.5px solid #e2e2e2;
  padding: 8px;
  display: flex;
}
.thead > div {
  width: 33.3%;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
ul {
  padding: 8px;
}
li {
  display: flex;
}
li > div {
  width: 33.3%;
  color: #e2e2e2;
  font-size: 12px;
}
li i {
  color: rgb(204, 44, 44);
}
